<md-card class="book-wrapper">
	<md-card-header>
		<img md-card-avatar *ngIf="book.volumeInfo.imageLinks?.thumbnail" [src]="book.volumeInfo.imageLinks?.thumbnail" />
		<md-card-title [innerHtml]="highlightWords(book.volumeInfo.title)"></md-card-title>
		<md-card-subtitle [innerHtml]="book.volumeInfo.subtitle"></md-card-subtitle>
	</md-card-header>
	<!-- <img md-card-image [src]="book.volumeInfo.imageLinks?.thumbnail"> -->
	<md-card-content>
		<div *ngIf="book.volumeInfo">
			<p [innerHtml]="highlightWords(book.volumeInfo.description)"></p>
		</div>
	</md-card-content>
	<md-card-actions align="end">
		<button md-icon-button (click)="toggleFavorite(book)" [color]="isFavorite(book) ? 'primary' : 'default'" title="Favorito">
			<md-icon svgIcon="thumbs-up"></md-icon>
		</button>
		<button md-button>Saiba mais...</button>
	</md-card-actions>
</md-card>