<div class="book-wrapper">
	<h1>{{book.volumeInfo?.title}}</h1>
	<h2>{{book.volumeInfo?.subtitle}}</h2>

	<div class="book-details">
		<span class="img">
			<img [src]="book.volumeInfo?.imageLinks?.small">
		</span>
		<p><b>Autores:</b> {{book.volumeInfo?.authors?.join(', ')}}</p>
		<p><b>Editora:</b> {{book.volumeInfo?.publisher}}</p>
		<p><b>Ano:</b> {{book.volumeInfo?.publishedDate}}</p>
		<p><b>Número de páginas:</b> {{book.volumeInfo?.pageCount}}</p>
		<p><b>Categorias:</b> {{book.volumeInfo?.categories?.join(', ')}}</p>
		<p><b>Descrição:</b> <span [innerHtml]="book.volumeInfo?.description"></span></p>
		<a md-raised-button [href]="book.accessInfo?.webReaderLink" target="_blank">Ler</a>
	</div>
</div>

