<h1>Google Books Finder</h1>

<form class="form" role="form" [formGroup]="searchForm">
  <input type="text" name="searchTerm" formControlName="searchTerm">
</form>

<div class="volumes-wrapper">
	{{volumes  | json}}
</div>

<div class="results-wrapper">
	<div *ngFor="let result of results" class="result-wrapper">
		<div><b>Title:</b> {{result.volumeInfo.title}}</div>
		<div *ngIf="result.searchInfo">
			<b>Snippet:</b> <span [innerHtml]="result.searchInfo.textSnippet"></span>
		</div>
	</div>
</div>

<div class="errors-wrapper">
	{{errors  | json}}
</div>